
body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }

  .footer {
    display: flex;                 
    justify-content: space-between;
    align-items: center;           
    padding: 1rem;                 
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .copyright {
    text-align: center; 
    padding-left: 41.1rem;
  }
  
  .made-with {
    margin-left: auto;
  }

  .github {
    color: white !important;         
    text-decoration: none !important;   
  }