input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #212529 inset !important; /* Ensure full coverage of background */
  -webkit-text-fill-color: white !important; /* Ensure text remains visible */
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #212529 inset !important; /* Maintain consistent background on focus */
  -webkit-text-fill-color: white !important; /* Ensure text color remains white */
}

/* For Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0 1000px #212529 inset !important; /* Apply background color */
  color: white !important; /* Ensure text color remains visible */
}

/* For older browsers */
input:-ms-autofill {
  box-shadow: 0 0 0 1000px #212529 inset !important; /* Apply background color */
  color: white !important; /* Ensure text remains white */
}

.form-outline {
  position: relative;
}

.form-outline input:focus ~ label,
.form-outline input:not(:placeholder-shown) ~ label {
  transform: translateY(-1.5em);
  font-size: 0.85rem;
  color: #ccc;
}

label {
  position: absolute;
  top: 0.6em;
  left: 0.75em;
  transition: all 0.2s ease-in-out;
}
