.update-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  background-color: #fff;
  margin-top: 30vh;
  width: 100%;
  padding: 0px;
}

.modal-content {
  background-color:#fff;
  border-radius: 15px;
  padding: 30px;
  width: 100%;
}

